@{
    ViewData["Title"] = "Add Book";
}

<div class="text-center">
    
    <form>
        ID <input type="text" name="ID"><br>
        Title <input type="text" name="Title"><br>
        Author <input type="text" name="Author"><br>
        Cover Image Url <input type="text" name="Cover Image URL"><br>
        Blurb <input type="text" name="Blurb"><br>
        <input type="submit">
    </form>
</div>
