@model List<Copy>
@{
    ViewData["Title"] = "Copy";
}

<div class="text-center">
    @foreach (Copy copy in Model)
    {
        <p>@copy.Id</p>
        <p>@copy.Book.Title</p>
        <p>@copy.Book.Author.Name</p>   
    }       
</div>
