@{
    ViewData["Title"] = "Librarian Options";
}

<div class="text-center">
    <p>Which service do you need?</p>
    <li >
        <a asp-area="" asp-controller="AddBook" asp-action="Index">Add A Book</a>
    </li>
    <li>
        <a asp-area="" asp-controller="UpdateBook" asp-action="Index">Update Book Details</a>
    </li>
    <li>
        <a asp-area="" asp-controller="AddCopy" asp-action="Index">Add New Copies of a Book</a>
    </li>
    <li>
        <a asp-area="" asp-controller="DeleteBook" asp-action="Index">Delete A Book</a>
    </li>
</div>


