@{
    ViewData["Title"] = "Librarian Options";
}

<div class="text-center">
    <p>Which service do you need?</p>
    <li >
        <a asp-controller="Book" asp-action="CreateBookForm">Add A Book</a>
    </li>
</div>


