@model CreateBookRequest;
@using Bookish.Models.Request;

@{
    ViewData["Title"] = "Create Book";
}

<div class="text-center">
    <form asp-controller="Book" asp-action="CreateBook" method="post">
        Title: <input asp-for="Title" /><br />
        Author ID: <input asp-for="AuthorId" /><br />
        Cover image URL: <input asp-for="CoverImageUrl" /><br />
        Blurb: <input asp-for="Blurb" /><br />
        <button type="submit">Create book</button>
    </form>
</div>