@model List<Book>
@{
    ViewData["Title"] = "Books";
}

<div class="text-center">
    @foreach(Book book in Model)
    {
        <p>@book.Title</p>
        <p>@book.Author.Name</p>
        <img width="250px" src="@book.CoverImageUrl"></img>
    }
    
</div>
